

**use of range operator**

*WAP to check whether the no. is even or not, if even,print the number is even else print the number is odd*

In [3]:
l=[1,2,3,4,5,6]
for a in l:
  if a%2==0:
    print(f"the number {a} is even")
  else:
    print(f"the number {a} is odd")

the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even

In [4]:
for a in range(1,9): #range(first,end+1)
  if a%2==0:
    print(f"the number {a} is even")
  else:
    print(f"the number {a} is odd")

the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even
the number 7 is odd
the number 8 is even

In [6]:
for a in range(0,9,2): #range is used to generate info instead of saving it to memory
  print(a)

0
2
4
6
8

In [7]:
for a in range(1,11):
  if a%2==0:
    print(f"the number {a} is even")
  else:
    print(f"the number {a} is odd")

the number 1 is odd
the number 2 is even
the number 3 is odd
the number 4 is even
the number 5 is odd
the number 6 is even
the number 7 is odd
the number 8 is even
the number 9 is odd
the number 10 is even

In [8]:
list(range(0,6,2)) #to generate and display the number, cast the range operator to list

[0, 2, 4]

**use of enumerate operator**

*WAP to print the index and its corresponding value as a tuple for a given list of values*

In [10]:
l=[4,8,5,9,10,1]
i=0
for a in l:
  print(f"({i},{a})")
  i=i+1

(0,4)
(1,8)
(2,5)
(3,9)
(4,10)
(5,1)

*the output in above case is not in form of tuple.So to have output in form of tuple use an operator called as "enumerate"*

In [11]:
for a in enumerate(l):
  print(a)

(0, 4)
(1, 8)
(2, 5)
(3, 9)
(4, 10)
(5, 1)

*From the above,Enumerate operator returns a tuple with the index and its value without incrementing the index itself*

In [16]:
for a in range(0,len(l)):
  print(f"{a},{l[a]}")

0,4
1,8
2,5
3,9
4,10
5,1

In [13]:
for a,b in enumerate(l):
  print(f"{a},{b}")

0,4
1,8
2,5
3,9
4,10
5,1

In [14]:
l

[4, 8, 5, 9, 10, 1]

In [15]:
len(l)

6

In [19]:
l1=list(range(0,len(l)))
l1

[0, 1, 2, 3, 4, 5]

**use of zip operator**

In [20]:
zip(l1,l) #shows the location

In [21]:
list(zip(l1,l))

[(0, 4), (1, 8), (2, 5), (3, 9), (4, 10), (5, 1)]

In [23]:
l2=list(range(0,len(l1)))
l2

[0, 1, 2, 3, 4, 5]

In [24]:
zip(l2,l1,l)

In [25]:
list(zip(l2,l1,l))

[(0, 0, 4), (1, 1, 8), (2, 2, 5), (3, 3, 9), (4, 4, 10), (5, 5, 1)]

**use of in operator**

*WAP which will return true if the search element is present in the list*

*input: l2=[1,3,'silicon'],search element is:1*

*output: true*

In [26]:
l2=[1,3,'silicon']
1 in l2 # in is used to check if the return is true

True

In [27]:
4 in l2

False

In [28]:
'silicon' in l2

True

In [29]:
'silicon' in 'silicon institute of technology'

True

In [31]:
D={'k1':345}
'k1' in D

True

In [36]:
345 in D

False

In [35]:
345 in D.values()

True

**use of min-max operator**

In [37]:
min(l)

1

In [38]:
max(l)

10

*WAP to generate a random number between 0 to 70.*

In [40]:
from random import randint
randint(0,70)

57

*WAP to enter a number and then check whether the number is even or not.*

*use of "input" keyword*

In [41]:
a=input("enter a number:")

enter a number:23

In [43]:
a=int(a)

In [44]:
if a%2==0:
  print("even")
else:
  print("odd")

odd