*WAP to take a list of numbers as input and return square of each number.*

In [ ]:

L=[1,2,3,4,5]
L1=[]
def square_num(L):
    for i in L:
        L1.append(i**2)
    return (L1)
square_num(L)

[1, 4, 9, 16, 25]

In [ ]:
L=[1,2,3,4,5]
def square_num(L):
    L1=[i**2 for i in L]
    return (L1)
square_num(L)

[1, 4, 9, 16, 25]

In [ ]:
def square(j):
    a=j**2
    return a

### Use of map function

In [ ]:
list(map(square,L))

[1, 4, 9, 16, 25]

*WAP to take list as input and it will return the even number only (use a function named as "even_num")*

In [ ]:
def even_num(L):
    M=[i for i in L if i%2==0]
    return M

In [ ]:
even_num([1,2,3,4,5,6])

[2, 4, 6]

In [ ]:
def even_num(L):
    if L%2==0:
        return L

In [ ]:
even_num(3)

In [ ]:
list(map(even_num,[1,2,3,4,5]))

[None, 2, None, 4, None]

In [ ]:
#objective is to get only 2 and 4 as output
list(filter(even_num,[1,2,3,4,5]))

[2, 4]

In [ ]:
square_num=lambda a: a**2

In [ ]:
square_num(2)

4

*WAP to square each object in a list*

In [ ]:

L2=[1,2,3,4,5]
list(map(lambda a: a**2,L2))

[1, 4, 9, 16, 25]

*WAP to print the even number only for the input list*

In [ ]:

list(filter(lambda a:a%2==0,L2))

[2, 4]

*WAP to iterate through a dictionary and to print its key value using afunction*

In [2]:
def print_Dictionary(E):
  for a in E.items():
    print(a)

In [3]:
D={'k1':'Silicon','k2':6,'k3':1000}
print_Dictionary(D)

('k1', 'Silicon')
('k2', 6)
('k3', 1000)

In [7]:
def print_Dictionary(E):
  for key,value in E.items():
    print(f"{key}:{value}")

In [8]:
D1={'k1':'Silicon','k2':6,'k3':800}
print_Dictionary(D1)

k1:Silicon
k2:6
k3:800

In [9]:
D.update({'k4':'Patia'})

In [10]:
D

{'k1': 'Silicon', 'k2': 6, 'k3': 1000, 'k4': 'Patia'}

In [11]:
print_Dictionary(D)

k1:Silicon
k2:6
k3:1000
k4:Patia

**Object Oriented Programming (OOP)**

- *It allows he programmer to create their own objects that have methods and functions*

- [1] *Keyword:*

    *class NameOfClass():*

  *(keyword) (user defined, first letter should be capital)*

  [2] *defining a function*
   
   *________________ def___init__(self,attributes):*

   *(indentation)(special func.)(parameters,arguements)*

   *example:*
   
   class Silicon():

   def__init__(self,name,sic):

       *self.name=name*

       *self.sic=sic*

   [3] *Create instance of a class*

    * It can be created by calling the class name

     *example:*
     
     *c= Silicon(name='Alisha',sic='22BCSC19')*

     - it create instance of class name as 'silicon'
     - it does initialisation by calling a fuction  --init--

     now,
     
      self.a= 'Alisha'
        
      self.b= '22BCSC19'

In [16]:
class Silicon():
  def __init__(self,name,sic):
   self.name=name
   self.sic=sic

In [17]:
c=Silicon(name='Alisha',sic='22BCSC19')

In [18]:
type(c)

__main__.Silicon

In [19]:
c.name

'Alisha'

In [20]:
c.sic

'22BCSC19'

*Add fuction called 'display' to class 'Silicon'*

In [21]:
class Silicon():
  def __init__(self,name,sic):
   self.name=name
   self.sic=sic
  def display(self):
    print(f"I am a siliconite named as {self.name} with sic: {self.sic}")

In [22]:
c=Silicon(name='Alisha',sic=2022)

In [26]:
c.name

'Alisha'

In [27]:
c.sic

2022